<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cadmin.cadmin.mapper.RoleMapper">

    <select id="selectPageRole" resultType="com.cadmin.cadmin.entity.Role">
        select `id`,`name`,`created` from c_role
        <where>
            <if test="role.name != null and role.name !=''">
                and `name` like concat ("%", #{role.name}, "%")
            </if>
        </where>

        order by `created` desc
    </select>
</mapper>